body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(240, 238, 238);
  font-weight: bold;
  margin: 0; /* Add margin: 0 to remove default margin */
}

/*Header*/
#header {
  width: 100%;
  min-height: 100vh; /* Change height to min-height */
  margin: 0; /* Remove default margin */
}

.container {
  padding: 10px 10%;
  background-color: white;
  height: 100%; /* Add height to fill the entire container */
}

img {
  width: 100%;
  border-radius: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 120px;
}

nav ul {
  display: flex; /* Display the list items horizontally */
  align-items: center; /* Vertically align the items */
}

nav ul li {
  margin-left: 20px; /* Adjust the spacing between the list items */
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #143031;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/*Table*/
.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

td:nth-child(2) {
  text-align: left;
}

.crest-image {
  width: 25px;
  height: auto;
  margin-left: 10px;
  float: right;
}

.zones {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}

.zone1-4 {
  background-color: #16ff00;
  color: black;
}

.zone5-6 {
  background-color: #8bf5fa;
  color: black;
}

.zone7 {
  background-color: #19a7ce;
  color: black;
}

.zone18-20 {
  background-color: #fc2947;
  color: black;
}

ul {
  list-style: none; /* Remove list-style dots */
  padding: 0;
  margin: 5px;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
