/* Header */
#header {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.fixtures-header-container .container {
  padding: 10px 10%;
  background-color: rgb(210, 210, 210);
  height: 100%;
}

.fixtures-header-container .logo {
  width: 120px;
}

.fixtures-header-container {
  /* Styles for fixtures header container */
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
}

.fixtures-header-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fixtures-header-container nav ul {
  display: flex;
  align-items: center;
}

.fixtures-header-container nav ul li {
  margin-left: 20px;
}

.fixtures-header-container nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.fixtures-header-container nav ul li a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #143031;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  width: 0%;
  transform-origin: left;
}

.fixtures-header-container nav ul li a:hover::after {
  width: 100%;
}

/* Dropdown Menu for top container*/
.fixtures-header-container .dropdown1-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
}

.fixtures-header-container .dropdown1-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.fixtures-header-container .dropdown1:hover .dropdown1-menu {
  display: block;
}

.fixtures-header-container .dropdown1-menu a:hover {
  background-color: #ddd; /* Change the background color when hovered */
}

.fixtures-header-container .dropdown1-menu a:hover::after {
  width: 0; /* Remove the hover effect on the underline */
}

.fixtures-header-container .dropdown1-menu ul,
.fixtures-header-container .dropdown1-menu li {
  margin: 0;
}

/* Dropdown Menu for league selector*/
.league-filter {
  float: right;
  margin-bottom: 20px;
}

.fixtures-header-container .league-filter select {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 280px; /* Set the width for the dropdown */
}

.fixtures-header-container .league-filter select:hover {
  border-color: black;
}

.fixtures-header-container .league-filter select:focus {
  outline: none;
  border-color: #143031;
  box-shadow: 0 0 0 2px rgba(20, 48, 49, 0.2);
}

.fixtures-header-container .league-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.center {
  margin-top: 20px; 
  margin-left: 20px;
}


#fixtures-table {
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
}

#fixtures-table th,
#fixtures-table td {
  font-size: 20px; /* Increase the font size */
  text-align: center; /* Center-align the content */
}

#fixtures-table td img {
  display: block;
  margin: 0 auto;
  width: 30px; /* Adjust the width of the team crest */
  height: auto; /* Maintain aspect ratio */
}

.table-header-row th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 12px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e5e5e5;
}

td {
  padding: 12px;
}

td img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.dropdown-container1 {
  margin-top: 20px;
}

.dropdown-container2 {
  margin-top: 20px;
  margin-bottom: 25px;
}

.dropdown-container1 label 
.dropdown-container2 label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.dropdown-container1 select
.dropdown-container2 select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2.fixtures-table {
  font-size: 24px;
  margin-bottom: 16px;
}

#past-fixtures-table {
  margin: 0 auto;
  width: 80%;
}

#past-fixtures-table th,
#past-fixtures-table td {
  font-size: 20px; /* Increase the font size */
  text-align: center; /* Center-align the content */
}

#past-fixtures-table td img {
  display: block;
  margin: 0 auto;
  width: 30px; /* Adjust the width of the team crest */
  height: auto; /* Maintain aspect ratio */
}

.section-divider {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2; /* Replace with your desired background color */
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    rgba(0, 0, 0, 0.1) 5px,
    rgba(0, 0, 0, 0.1) 10px
  );
}

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
