.opening-video {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -9;
}

.content {
  text-align: center;
  color: white;
  font-size: 60px;
}

body {
  font-family:Arial, Helvetica, sans-serif
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

img {
  float: left;
  width: 120px;
}

nav ul {
  list-style-type: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a:link,
nav a:visited {
  color: white;
  text-decoration: none;
  padding: 14.5px 20px;
}

nav a:hover {
  background-color: dodgerblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown select {
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color:white;
  border: none;
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
  width: 260px;
  Height: 62px;
  margin: 0;
}

.dropdown select:focus {
  outline: none;
}

.dropdown:after {
  content: "\25BC";
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.dropdown-menu {
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu-item {
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-menu-item:hover {
  background-color: dodgerblue;
}

#tableoptions {
  color: black;
}