.predictions-container {
  background-color: #000000;
  background-image: linear-gradient(to bottom, #3a3a31, #6f613c);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

/* Header */
#header {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.predictions-header-container .container {
  padding: 10px 10%;
  background-color: rgb(210, 210, 210);
  height: 100%;
}

.predictions-header-container .logo {
  width: 120px;
}

.predictions-header-container {
  /* Styles for predictions header container */
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
}

.predictions-header-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.predictions-header-container nav ul {
  display: flex;
  align-items: center;
}

.predictions-header-container nav ul li {
  margin-left: 20px;
}

.predictions-header-container nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.predictions-header-container nav ul li a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #143031;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  width: 0%;
  transform-origin: left;
}

.predictions-header-container nav ul li a:hover::after {
  width: 100%;
}

/* Dropdown Menu */
.predictions-header-container .dropdown1-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
}

.predictions-header-container .dropdown1-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.predictions-header-container .dropdown1:hover .dropdown1-menu {
  display: block;
}

.predictions-header-container .dropdown1-menu a:hover {
  background-color: #ddd; /* Change the background color when hovered */
}

.predictions-header-container .dropdown1-menu a:hover::after {
  width: 0; /* Remove the hover effect on the underline */
}

.predictions-header-container .dropdown1-menu ul,
.predictions-header-container .dropdown1-menu li {
  margin: 0;
}


/*--------------------------------------------------------------------------------------------------------------------------------
                                                      Predictions Section
----------------------------------------------------------------------------------------------------------------------------------*/


.predictions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.predictions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px; /* Increase the width for a longer box */
  height: 700px;
  background-color: #f9f9f9;
  border: 6px solid rgb(165, 128, 36);
  border-radius: 10px; /* Increase the border radius for a more rounded appearance */
  padding: 20px; /* Adjust the padding for a better spacing */
  margin: 0 auto;
  margin-top: 100px;
  font-size: large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for a more interesting look */
}

.predictions-content h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: clamp(2em, 3vw, 3rem);
  background: linear-gradient(90deg, #ffb338, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  transform: perspective(100px) rotateX(15deg);
}

.team-select {
  display: flex;
  align-items: center; /* Center the items horizontally */
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.league-select {
  margin-top: -40px;
}

.team-select > div {
  flex: 1;
  margin: 0 30px; /* Adjust the margin for better spacing */
}

h3 {
  text-align: center;
  margin-bottom: 10px; /* Add margin bottom for spacing */
}

select {
  width: 100%;
  padding: 20px; /* Adjust the padding for a better look */
  font-size: large;
  border-radius: 4px; /* Add border radius to the select element */
  border: 1px solid #ccc; /* Add a border for a more defined appearance */
  background-color: #fff; /* Adjust the background color */
}

.predictions-content button {
  padding: 10px 20px;
  background-color: #ffb338;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
}

.predictions-content button:hover {
  background-color: #ff9900;
}


.loading-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loading-circle::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #555;
  animation: spin 1s infinite linear;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-group {
  margin-top: 5%;
  font-size: large;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
  font-size: large;
  text-align: center;
}